In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
train_data = pd.read_csv('./data/traffic/DataSets/Train.csv')

In [3]:
train_data.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,2012-10-02 09:00:00,None,121,89,2,329,1,1,288.28,0.0,0.0,40,Clouds,scattered clouds,5545
1,2012-10-02 10:00:00,None,178,67,3,330,1,1,289.36,0.0,0.0,75,Clouds,broken clouds,4516
2,2012-10-02 11:00:00,None,113,66,3,329,2,2,289.58,0.0,0.0,90,Clouds,overcast clouds,4767
3,2012-10-02 12:00:00,None,20,66,3,329,5,5,290.13,0.0,0.0,90,Clouds,overcast clouds,5026
4,2012-10-02 13:00:00,None,281,65,3,329,7,7,291.14,0.0,0.0,75,Clouds,broken clouds,4918

In [4]:
train_data.columns

Index(['date_time', 'is_holiday', 'air_pollution_index', 'humidity',
       'wind_speed', 'wind_direction', 'visibility_in_miles', 'dew_point',
       'temperature', 'rain_p_h', 'snow_p_h', 'clouds_all', 'weather_type',
       'weather_description', 'traffic_volume'],
      dtype='object')

In [5]:
train_data['weather_type'].unique()

array(['Clouds', 'Clear', 'Rain', 'Drizzle', 'Mist', 'Haze', 'Fog',
       'Thunderstorm', 'Snow', 'Squall', 'Smoke'], dtype=object)

In [6]:
len(train_data['weather_type'].unique())

11

In [7]:
# weather_types = train_data['weather_type'].unique()
weather_types = {}

for i in range(len(train_data['weather_type'].unique())):
    weather_types[train_data['weather_type'].unique()[i]] = int(i)

In [8]:
weather_types

{'Clouds': 0,
 'Clear': 1,
 'Rain': 2,
 'Drizzle': 3,
 'Mist': 4,
 'Haze': 5,
 'Fog': 6,
 'Thunderstorm': 7,
 'Snow': 8,
 'Squall': 9,
 'Smoke': 10}

In [9]:
train_data.replace(weather_types, inplace=True)

In [10]:
train_data.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,2012-10-02 09:00:00,None,121,89,2,329,1,1,288.28,0.0,0.0,40,0,scattered clouds,5545
1,2012-10-02 10:00:00,None,178,67,3,330,1,1,289.36,0.0,0.0,75,0,broken clouds,4516
2,2012-10-02 11:00:00,None,113,66,3,329,2,2,289.58,0.0,0.0,90,0,overcast clouds,4767
3,2012-10-02 12:00:00,None,20,66,3,329,5,5,290.13,0.0,0.0,90,0,overcast clouds,5026
4,2012-10-02 13:00:00,None,281,65,3,329,7,7,291.14,0.0,0.0,75,0,broken clouds,4918

In [11]:
is_holiday = {}

# value 0 is for no holiday and 1 is for some holiday
for i in range(len(train_data['is_holiday'].unique())):
    if (train_data['is_holiday'].unique()[i] == 'None'):
        is_holiday[train_data['is_holiday'].unique()[i]] = 0
    else:
        is_holiday[train_data['is_holiday'].unique()[i]] = 1

In [12]:
is_holiday

{'None': 0,
 'Columbus Day': 1,
 'Veterans Day': 1,
 'Thanksgiving Day': 1,
 'Christmas Day': 1,
 'New Years Day': 1,
 'Washingtons Birthday': 1,
 'Memorial Day': 1,
 'Independence Day': 1,
 'State Fair': 1,
 'Labor Day': 1,
 'Martin Luther King Jr Day': 1}

In [13]:
train_data.replace(is_holiday, inplace=True)

In [14]:
train_data.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,2012-10-02 09:00:00,0,121,89,2,329,1,1,288.28,0.0,0.0,40,0,scattered clouds,5545
1,2012-10-02 10:00:00,0,178,67,3,330,1,1,289.36,0.0,0.0,75,0,broken clouds,4516
2,2012-10-02 11:00:00,0,113,66,3,329,2,2,289.58,0.0,0.0,90,0,overcast clouds,4767
3,2012-10-02 12:00:00,0,20,66,3,329,5,5,290.13,0.0,0.0,90,0,overcast clouds,5026
4,2012-10-02 13:00:00,0,281,65,3,329,7,7,291.14,0.0,0.0,75,0,broken clouds,4918

In [15]:
train_data['is_holiday'].unique()

array([0, 1], dtype=int64)

In [16]:
train_data['weather_description'].unique()

array(['scattered clouds', 'broken clouds', 'overcast clouds',
       'sky is clear', 'few clouds', 'light rain',
       'light intensity drizzle', 'mist', 'haze', 'fog',
       'proximity shower rain', 'drizzle', 'moderate rain',
       'heavy intensity rain', 'proximity thunderstorm',
       'thunderstorm with light rain', 'proximity thunderstorm with rain',
       'heavy snow', 'heavy intensity drizzle', 'snow',
       'thunderstorm with heavy rain', 'freezing rain', 'shower snow',
       'light rain and snow', 'light intensity shower rain', 'SQUALLS',
       'thunderstorm with rain', 'proximity thunderstorm with drizzle',
       'thunderstorm', 'Sky is Clear', 'very heavy rain',
       'thunderstorm with light drizzle', 'light snow',
       'thunderstorm with drizzle', 'smoke', 'shower drizzle',
       'light shower snow', 'sleet'], dtype=object)

In [17]:
train_data2 = train_data.copy().drop('weather_description', axis=1)

In [18]:
train_data2.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,traffic_volume
0,2012-10-02 09:00:00,0,121,89,2,329,1,1,288.28,0.0,0.0,40,0,5545
1,2012-10-02 10:00:00,0,178,67,3,330,1,1,289.36,0.0,0.0,75,0,4516
2,2012-10-02 11:00:00,0,113,66,3,329,2,2,289.58,0.0,0.0,90,0,4767
3,2012-10-02 12:00:00,0,20,66,3,329,5,5,290.13,0.0,0.0,90,0,5026
4,2012-10-02 13:00:00,0,281,65,3,329,7,7,291.14,0.0,0.0,75,0,4918

In [19]:
train_data2.shape

(33750, 14)

In [20]:
train_data2.drop_duplicates(subset='date_time').shape

(28589, 14)

In [21]:
train_data2.drop_duplicates(subset='date_time', inplace=True)

In [22]:
train_data2.reset_index(drop=True, inplace=True)

In [23]:
# train_data2.to_csv('./analysis/train_data2.csv', index=False)

In [24]:
# train_data2 = pd.read_csv('./analysis/train_data2.csv')

# Converting Time Series to Sliding Window Dataset
<hr>

In [25]:
train_data2.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,traffic_volume
0,2012-10-02 09:00:00,0,121,89,2,329,1,1,288.28,0.0,0.0,40,0,5545
1,2012-10-02 10:00:00,0,178,67,3,330,1,1,289.36,0.0,0.0,75,0,4516
2,2012-10-02 11:00:00,0,113,66,3,329,2,2,289.58,0.0,0.0,90,0,4767
3,2012-10-02 12:00:00,0,20,66,3,329,5,5,290.13,0.0,0.0,90,0,5026
4,2012-10-02 13:00:00,0,281,65,3,329,7,7,291.14,0.0,0.0,75,0,4918

In [26]:
train_data2.shape

(28589, 14)

In [27]:
train_data2['wind_speed'].unique().min()

0

In [28]:
train_data2.columns

Index(['date_time', 'is_holiday', 'air_pollution_index', 'humidity',
       'wind_speed', 'wind_direction', 'visibility_in_miles', 'dew_point',
       'temperature', 'rain_p_h', 'snow_p_h', 'clouds_all', 'weather_type',
       'traffic_volume'],
      dtype='object')

In [29]:
train_data3 = train_data2.copy().drop('dew_point', axis=1)

In [30]:
train_data3.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,traffic_volume
0,2012-10-02 09:00:00,0,121,89,2,329,1,288.28,0.0,0.0,40,0,5545
1,2012-10-02 10:00:00,0,178,67,3,330,1,289.36,0.0,0.0,75,0,4516
2,2012-10-02 11:00:00,0,113,66,3,329,2,289.58,0.0,0.0,90,0,4767
3,2012-10-02 12:00:00,0,20,66,3,329,5,290.13,0.0,0.0,90,0,5026
4,2012-10-02 13:00:00,0,281,65,3,329,7,291.14,0.0,0.0,75,0,4918

In [31]:
train_data4 = train_data3.copy().drop('wind_direction', axis=1)

In [32]:
train_data5 = train_data4.copy().drop('humidity', axis=1)

In [33]:
train_data5.head()

,date_time,is_holiday,air_pollution_index,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,traffic_volume
0,2012-10-02 09:00:00,0,121,2,1,288.28,0.0,0.0,40,0,5545
1,2012-10-02 10:00:00,0,178,3,1,289.36,0.0,0.0,75,0,4516
2,2012-10-02 11:00:00,0,113,3,2,289.58,0.0,0.0,90,0,4767
3,2012-10-02 12:00:00,0,20,3,5,290.13,0.0,0.0,90,0,5026
4,2012-10-02 13:00:00,0,281,3,7,291.14,0.0,0.0,75,0,4918

In [34]:
train_data5.shape

(28589, 11)

In [35]:
print(train_data5['air_pollution_index'].min())
print(train_data5['air_pollution_index'].max())

10
299

### AQI Classes for India according to Ministry of Environment, Forest and Climate Change. 
<hr>
0) Good - (0–50) <br>
1) Satisfactory - (51–100) <br>
2) Moderately polluted - (101–200) <br>
3) Poor - (201–300) <br>
4) Very Poor - (301–400) <br>
5) Severe - (401-500) <br>

In [44]:
for i in range(len(train_data5['air_pollution_index'])):
    
    if (train_data5['air_pollution_index'][i] <= 50):
        train_data5['air_pollution_index'][i] = 0
    elif (train_data5['air_pollution_index'][i] > 50 and train_data5['air_pollution_index'][i] <= 100):
        train_data5['air_pollution_index'][i] = 1
    elif (train_data5['air_pollution_index'][i] > 100 and train_data5['air_pollution_index'][i] <= 200):
        train_data5['air_pollution_index'][i] = 2
    elif (train_data5['air_pollution_index'][i] > 200 and train_data5['air_pollution_index'][i] <= 300):
        train_data5['air_pollution_index'][i] = 3    
    else: 
        train_data5['air_pollution_index'][i] = None   
        
#   Just to make the loop more verbose
    if (i % 100 == 0):
        print(i)

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

0

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700
12800
12900
13000
13100
13200
13300
13400
13500
13600
13700
13800
13900
14000
14100
14200
14300
14400
14500
14600
14700
14800
14900
15000
15100
15200
15300
15400
15500
15600
15700
15800
15900
16000
16100
16200
16300
16400
16500
16600
16700
16800
16900
17000
17100
17200
17300
17400
17500
17600
17700
17800
17900
18000
18100
18200
18300
18400
18500
18600
18700
18800
18900
19000
19100
19200
19300
19400
19500
19600
19700
19800
19900
20000
20100
20200
20300
20400
20500
20600
20700
20800
20900
21000
21100
21200
21300
21400
21500
21600
21700
21800
21900
22000
22100
22200
22300
22400
22500
22600
22700
22800
22900
23000
23100
23200
23300
23400
23500
23600
23700
23800
23900
24000
24100
24200
24300
24400
24500
24600
24700
24800
24900
25000
25100
25200
25300
25400
25500
25600
25700
25800
25900
26000
26100
26200
26300
26400
26500
26600
26700
26800
26900
27000
27100
27200
27300
27400
27500
27600
27700
27800
27900
28000
28100
28200
28300
28400
28500

In [45]:
train_data5.head()

,date_time,is_holiday,air_pollution_index,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,traffic_volume
0,2012-10-02 09:00:00,0,2,2,1,288.28,0.0,0.0,40,0,5545
1,2012-10-02 10:00:00,0,2,3,1,289.36,0.0,0.0,75,0,4516
2,2012-10-02 11:00:00,0,2,3,2,289.58,0.0,0.0,90,0,4767
3,2012-10-02 12:00:00,0,0,3,5,290.13,0.0,0.0,90,0,5026
4,2012-10-02 13:00:00,0,3,3,7,291.14,0.0,0.0,75,0,4918

In [46]:
# train_data5.to_csv('./analysis/train_data5.csv', index=False)

In [47]:
# train_data5 = pd.read_csv('./analysis/train_data5.csv')

In [48]:
train_data5.head()

,date_time,is_holiday,air_pollution_index,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,traffic_volume
0,2012-10-02 09:00:00,0,2,2,1,288.28,0.0,0.0,40,0,5545
1,2012-10-02 10:00:00,0,2,3,1,289.36,0.0,0.0,75,0,4516
2,2012-10-02 11:00:00,0,2,3,2,289.58,0.0,0.0,90,0,4767
3,2012-10-02 12:00:00,0,0,3,5,290.13,0.0,0.0,90,0,5026
4,2012-10-02 13:00:00,0,3,3,7,291.14,0.0,0.0,75,0,4918

In [49]:
train_data5.isna().sum()

date_time              0
is_holiday             0
air_pollution_index    0
wind_speed             0
visibility_in_miles    0
temperature            0
rain_p_h               0
snow_p_h               0
clouds_all             0
weather_type           0
traffic_volume         0
dtype: int64

In [50]:
train_data5.columns

Index(['date_time', 'is_holiday', 'air_pollution_index', 'wind_speed',
       'visibility_in_miles', 'temperature', 'rain_p_h', 'snow_p_h',
       'clouds_all', 'weather_type', 'traffic_volume'],
      dtype='object')

#### Create the lagging columns of :
<ul>
    <li>'air_pollution_index'</li>
    <li>'wind_speed'</li>
    <li>'visibility_in_miles' </li>
    <li>'temperature' </li>
    <li>'rain_p_h' </li>
    <li>'snow_p_h' </li>
    <li>'clouds_all' </li>
    <li>'weather_type' </li>
    <li>'traffic_volume'</li>
</ul>

In [61]:
api_lag = pd.DataFrame(data=train_data5['air_pollution_index'].copy().shift(1).tolist(), columns=['air_pollution_index_lag'])
wind_sp_lag = pd.DataFrame(data=train_data5['wind_speed'].copy().shift(1).tolist(), columns=['wind_speed_lag'])
vis_lag = pd.DataFrame(data=train_data5['visibility_in_miles'].copy().shift(1).tolist(), columns=['visibility_in_miles_lag'])
temp_lag = pd.DataFrame(data=train_data5['temperature'].copy().shift(1).tolist(), columns=['temperature_lag'])
rain_lag = pd.DataFrame(data=train_data5['rain_p_h'].copy().shift(1).tolist(), columns=['rain_p_h_lag'])
snow_lag = pd.DataFrame(data=train_data5['snow_p_h'].copy().shift(1).tolist(), columns=['snow_p_h_lag'])
clouds_lag = pd.DataFrame(data=train_data5['clouds_all'].copy().shift(1).tolist(), columns=['clouds_all_lag'])
weather_lag = pd.DataFrame(data=train_data5['weather_type'].copy().shift(1).tolist(), columns=['weather_type_lag'])
traffic_lag = pd.DataFrame(data=train_data5['traffic_volume'].copy().shift(1).tolist(), columns=['traffice_volume_lag'])

In [63]:
# api_lag

In [64]:
lag_df = pd.concat([api_lag, wind_sp_lag, vis_lag, temp_lag, rain_lag, snow_lag, clouds_lag, weather_lag, traffic_lag], 
                  axis=1)

In [65]:
lag_df.head()

,air_pollution_index_lag,wind_speed_lag,visibility_in_miles_lag,temperature_lag,rain_p_h_lag,snow_p_h_lag,clouds_all_lag,weather_type_lag,traffice_volume_lag
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,2.0,1.0,288.28,0.0,0.0,40.0,0.0,5545.0
2,2.0,3.0,1.0,289.36,0.0,0.0,75.0,0.0,4516.0
3,2.0,3.0,2.0,289.58,0.0,0.0,90.0,0.0,4767.0
4,0.0,3.0,5.0,290.13,0.0,0.0,90.0,0.0,5026.0

In [66]:
lag_df.shape

(28589, 9)

In [67]:
df = pd.concat([train_data5.copy(), lag_df.copy()], axis=1)

In [68]:
df.head()

,date_time,is_holiday,air_pollution_index,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,traffic_volume,air_pollution_index_lag,wind_speed_lag,visibility_in_miles_lag,temperature_lag,rain_p_h_lag,snow_p_h_lag,clouds_all_lag,weather_type_lag,traffice_volume_lag
0,2012-10-02 09:00:00,0,2,2,1,288.28,0.0,0.0,40,0,5545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-02 10:00:00,0,2,3,1,289.36,0.0,0.0,75,0,4516,2.0,2.0,1.0,288.28,0.0,0.0,40.0,0.0,5545.0
2,2012-10-02 11:00:00,0,2,3,2,289.58,0.0,0.0,90,0,4767,2.0,3.0,1.0,289.36,0.0,0.0,75.0,0.0,4516.0
3,2012-10-02 12:00:00,0,0,3,5,290.13,0.0,0.0,90,0,5026,2.0,3.0,2.0,289.58,0.0,0.0,90.0,0.0,4767.0
4,2012-10-02 13:00:00,0,3,3,7,291.14,0.0,0.0,75,0,4918,0.0,3.0,5.0,290.13,0.0,0.0,90.0,0.0,5026.0

In [69]:
# df.to_csv('./analysis/df.csv', index=False)

In [23]:
df = pd.read_csv('./analysis/df.csv')

In [24]:
df2 = df.copy().drop([0, df.shape[0]-1])

In [25]:
df2.reset_index(inplace=True, drop=True)

In [26]:
df2.head()

,date_time,is_holiday,air_pollution_index,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,traffic_volume,air_pollution_index_lag,wind_speed_lag,visibility_in_miles_lag,temperature_lag,rain_p_h_lag,snow_p_h_lag,clouds_all_lag,weather_type_lag,traffice_volume_lag
0,2012-10-02 10:00:00,0,2,3,1,289.36,0.0,0.0,75,0,4516,2.0,2.0,1.0,288.28,0.0,0.0,40.0,0.0,5545.0
1,2012-10-02 11:00:00,0,2,3,2,289.58,0.0,0.0,90,0,4767,2.0,3.0,1.0,289.36,0.0,0.0,75.0,0.0,4516.0
2,2012-10-02 12:00:00,0,0,3,5,290.13,0.0,0.0,90,0,5026,2.0,3.0,2.0,289.58,0.0,0.0,90.0,0.0,4767.0
3,2012-10-02 13:00:00,0,3,3,7,291.14,0.0,0.0,75,0,4918,0.0,3.0,5.0,290.13,0.0,0.0,90.0,0.0,5026.0
4,2012-10-02 14:00:00,0,0,3,6,291.72,0.0,0.0,1,1,5181,3.0,3.0,7.0,291.14,0.0,0.0,75.0,0.0,4918.0

In [27]:
df3 = df2.copy().drop(['date_time'], axis=1)

In [28]:
df3.head()

,is_holiday,air_pollution_index,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,traffic_volume,air_pollution_index_lag,wind_speed_lag,visibility_in_miles_lag,temperature_lag,rain_p_h_lag,snow_p_h_lag,clouds_all_lag,weather_type_lag,traffice_volume_lag
0,0,2,3,1,289.36,0.0,0.0,75,0,4516,2.0,2.0,1.0,288.28,0.0,0.0,40.0,0.0,5545.0
1,0,2,3,2,289.58,0.0,0.0,90,0,4767,2.0,3.0,1.0,289.36,0.0,0.0,75.0,0.0,4516.0
2,0,0,3,5,290.13,0.0,0.0,90,0,5026,2.0,3.0,2.0,289.58,0.0,0.0,90.0,0.0,4767.0
3,0,3,3,7,291.14,0.0,0.0,75,0,4918,0.0,3.0,5.0,290.13,0.0,0.0,90.0,0.0,5026.0
4,0,0,3,6,291.72,0.0,0.0,1,1,5181,3.0,3.0,7.0,291.14,0.0,0.0,75.0,0.0,4918.0

In [29]:
df3.columns

Index(['is_holiday', 'air_pollution_index', 'wind_speed',
       'visibility_in_miles', 'temperature', 'rain_p_h', 'snow_p_h',
       'clouds_all', 'weather_type', 'traffic_volume',
       'air_pollution_index_lag', 'wind_speed_lag', 'visibility_in_miles_lag',
       'temperature_lag', 'rain_p_h_lag', 'snow_p_h_lag', 'clouds_all_lag',
       'weather_type_lag', 'traffice_volume_lag'],
      dtype='object')

In [30]:
df3_x = df3.copy().drop(['traffic_volume', 'traffice_volume_lag'], axis=1)

In [31]:
df3_y = df3.copy()['traffic_volume']

In [32]:
df3_x.head()

,is_holiday,air_pollution_index,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,air_pollution_index_lag,wind_speed_lag,visibility_in_miles_lag,temperature_lag,rain_p_h_lag,snow_p_h_lag,clouds_all_lag,weather_type_lag
0,0,2,3,1,289.36,0.0,0.0,75,0,2.0,2.0,1.0,288.28,0.0,0.0,40.0,0.0
1,0,2,3,2,289.58,0.0,0.0,90,0,2.0,3.0,1.0,289.36,0.0,0.0,75.0,0.0
2,0,0,3,5,290.13,0.0,0.0,90,0,2.0,3.0,2.0,289.58,0.0,0.0,90.0,0.0
3,0,3,3,7,291.14,0.0,0.0,75,0,0.0,3.0,5.0,290.13,0.0,0.0,90.0,0.0
4,0,0,3,6,291.72,0.0,0.0,1,1,3.0,3.0,7.0,291.14,0.0,0.0,75.0,0.0

In [33]:
df3_y.head()

0    4516
1    4767
2    5026
3    4918
4    5181
Name: traffic_volume, dtype: int64

In [34]:
from sklearn.cross_validation import train_test_split

E:\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [35]:
x_train, x_test, y_train, y_test = train_test_split(df3_x, df3_y.tolist(), test_size=0.3)

In [36]:
from sklearn.linear_model import LinearRegression

In [37]:
lin_reg = LinearRegression(n_jobs=-1)

In [38]:
lin_reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=-1, normalize=False)

In [39]:
lin_reg.score(x_train, y_train)

0.03964430427238563

In [40]:
lin_reg.intercept_

-2018.645407443773

In [41]:
lin_reg.coef_

array([-2.37697393e+03, -3.84511201e+00,  2.29193449e-03,  4.97020632e-01,
        7.83970825e+01, -5.89896695e+01,  4.13679432e+03,  2.49191918e+00,
       -5.58322928e+01,  8.62350772e+00,  2.92683909e+00,  4.77767685e+00,
       -6.00427051e+01,  3.53660169e-02, -1.06899622e+03,  1.82544567e+00,
       -4.20660466e+00])

In [42]:
lin_preds_v1 = lin_reg.predict(x_test)

In [43]:
lin_preds_v1

array([3058.34874131, 3128.89503862, 3478.93669042, ..., 3640.87008629,
       3754.62654689, 3466.5025397 ])

In [120]:
from sklearn.metrics import r2_score, mean_squared_error, mean_squared_log_error, mean_squared_log_error

In [45]:
r2_score(y_test, lin_preds_v1)

-10.018138965084669

In [46]:
mean_squared_error(y_test, lin_preds_v1)

43208255.923604615

In [47]:
np.sqrt(mean_squared_error(y_test, lin_preds_v1))

6573.298709446012

In [48]:
from sklearn.ensemble import RandomForestRegressor

In [96]:
RF_reg = RandomForestRegressor(n_estimators=100)

In [112]:
RF_reg.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [113]:
rf_feat_imp = RF_reg.feature_importances_

In [114]:
rf_feat_imp.sort()

In [115]:
rf_feat_imp

array([1.79891812e-04, 2.08344177e-04, 6.11071100e-04, 9.48543452e-03,
       1.05479797e-02, 2.42690896e-02, 2.83555649e-02, 3.87290502e-02,
       3.98382561e-02, 4.45703262e-02, 4.87375911e-02, 6.17389264e-02,
       6.28959572e-02, 6.94588650e-02, 6.99843553e-02, 2.27055306e-01,
       2.63333991e-01])

In [116]:
rf_preds_v1 = RF_reg.predict(x_test)

In [117]:
RF_reg.score(x_test, y_test)

0.2091378948538044

In [118]:
r2_score(y_test, rf_preds_v1)

0.2091378948538044

In [119]:
rf_preds_v1.shape

(8577,)

In [60]:
mean_squared_error(y_test, rf_preds_v1)

3103188.249844211

In [121]:
mean_squared_log_error(y_test, rf_preds_v1)

0.9086405196644355

In [122]:
np.sqrt(mean_squared_log_error(y_test, rf_preds_v1))

0.9532263737772028

In [61]:
np.sqrt(mean_squared_error(y_test, rf_preds_v1))

1761.586855606107

# Testing with actual test data

In [69]:
test_df = pd.read_csv('./data/traffic/DataSets/Test.csv')

In [70]:
test_df.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description
0,2017-05-18 00:00:00,None,73,63,1,27,4,4,285.15,0.0,0,90,Rain,moderate rain
1,2017-05-18 00:00:00,None,251,63,1,27,4,4,285.15,0.0,0,90,Mist,mist
2,2017-05-18 00:00:00,None,75,56,1,0,1,1,285.15,0.0,0,90,Drizzle,light intensity drizzle
3,2017-05-18 01:00:00,None,98,56,1,351,2,2,284.79,0.0,0,90,Rain,heavy intensity rain
4,2017-05-18 01:00:00,None,283,56,1,351,1,1,284.79,0.0,0,90,Mist,mist

In [71]:
test_df.columns

Index(['date_time', 'is_holiday', 'air_pollution_index', 'humidity',
       'wind_speed', 'wind_direction', 'visibility_in_miles', 'dew_point',
       'temperature', 'rain_p_h', 'snow_p_h', 'clouds_all', 'weather_type',
       'weather_description'],
      dtype='object')

In [72]:
df3.columns

Index(['is_holiday', 'air_pollution_index', 'wind_speed',
       'visibility_in_miles', 'temperature', 'rain_p_h', 'snow_p_h',
       'clouds_all', 'weather_type', 'traffic_volume',
       'air_pollution_index_lag', 'wind_speed_lag', 'visibility_in_miles_lag',
       'temperature_lag', 'rain_p_h_lag', 'snow_p_h_lag', 'clouds_all_lag',
       'weather_type_lag', 'traffice_volume_lag'],
      dtype='object')

In [73]:
test_df_dates = test_df['date_time']

In [74]:
test_df.drop(['date_time', 'humidity', 'wind_direction', 'dew_point', 'weather_description'], axis=1, inplace=True)

In [75]:
test_df.replace(weather_types, inplace=True)

In [76]:
test_df.head()

,is_holiday,air_pollution_index,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type
0,None,73,1,4,285.15,0.0,0,90,2
1,None,251,1,4,285.15,0.0,0,90,4
2,None,75,1,1,285.15,0.0,0,90,3
3,None,98,1,2,284.79,0.0,0,90,2
4,None,283,1,1,284.79,0.0,0,90,4

In [77]:
test_df.replace(is_holiday, inplace=True)

In [78]:
test_df.head()

,is_holiday,air_pollution_index,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type
0,0,73,1,4,285.15,0.0,0,90,2
1,0,251,1,4,285.15,0.0,0,90,4
2,0,75,1,1,285.15,0.0,0,90,3
3,0,98,1,2,284.79,0.0,0,90,2
4,0,283,1,1,284.79,0.0,0,90,4

In [79]:
for i in range(len(test_df['air_pollution_index'])):
    
    if (test_df['air_pollution_index'][i] <= 50):
        test_df['air_pollution_index'][i] = 0
    elif (test_df['air_pollution_index'][i] > 50 and test_df['air_pollution_index'][i] <= 100):
        test_df['air_pollution_index'][i] = 1
    elif (test_df['air_pollution_index'][i] > 100 and test_df['air_pollution_index'][i] <= 200):
        test_df['air_pollution_index'][i] = 2
    elif (test_df['air_pollution_index'][i] > 200 and test_df['air_pollution_index'][i] <= 300):
        test_df['air_pollution_index'][i] = 3    
    else: 
        test_df['air_pollution_index'][i] = None   
        
#   Just to make the loop more verbose
    if (i % 100 == 0):
        print(i)

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700
12800
12900
13000
13100
13200
13300
13400
13500
13600
13700
13800
13900
14000
14100
14200
14300
14400

In [80]:
test_df.to_csv('./analysis/test_df.csv', index=False)

In [81]:
test_df = pd.read_csv('./analysis/test_df.csv')

In [82]:
api_lag_test = pd.DataFrame(data=test_df['air_pollution_index'].copy().shift(1).tolist(), columns=['air_pollution_index_lag'])
wind_sp_lag_test = pd.DataFrame(data=test_df['wind_speed'].copy().shift(1).tolist(), columns=['wind_speed_lag'])
vis_lag_test = pd.DataFrame(data=test_df['visibility_in_miles'].copy().shift(1).tolist(), columns=['visibility_in_miles_lag'])
temp_lag_test = pd.DataFrame(data=test_df['temperature'].copy().shift(1).tolist(), columns=['temperature_lag'])
rain_lag_test = pd.DataFrame(data=test_df['rain_p_h'].copy().shift(1).tolist(), columns=['rain_p_h_lag'])
snow_lag_test = pd.DataFrame(data=test_df['snow_p_h'].copy().shift(1).tolist(), columns=['snow_p_h_lag'])
clouds_lag_test = pd.DataFrame(data=test_df['clouds_all'].copy().shift(1).tolist(), columns=['clouds_all_lag'])
weather_lag_test = pd.DataFrame(data=test_df['weather_type'].copy().shift(1).tolist(), columns=['weather_type_lag'])

In [83]:
lag_df_test = pd.concat([api_lag_test, wind_sp_lag_test, vis_lag_test, temp_lag_test, rain_lag_test, snow_lag_test, clouds_lag_test, weather_lag_test], 
                  axis=1)

In [84]:
test_df_2 = pd.concat([test_df.copy(), lag_df_test.copy()], axis=1)

In [85]:
test_df_2.head()

,is_holiday,air_pollution_index,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,air_pollution_index_lag,wind_speed_lag,visibility_in_miles_lag,temperature_lag,rain_p_h_lag,snow_p_h_lag,clouds_all_lag,weather_type_lag
0,0,1,1,4,285.15,0.0,0,90,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,3,1,4,285.15,0.0,0,90,4,1.0,1.0,4.0,285.15,0.0,0.0,90.0,2.0
2,0,1,1,1,285.15,0.0,0,90,3,3.0,1.0,4.0,285.15,0.0,0.0,90.0,4.0
3,0,1,1,2,284.79,0.0,0,90,2,1.0,1.0,1.0,285.15,0.0,0.0,90.0,3.0
4,0,3,1,1,284.79,0.0,0,90,4,1.0,1.0,2.0,284.79,0.0,0.0,90.0,2.0

In [86]:
test_df_2.describe()

,is_holiday,air_pollution_index,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,air_pollution_index_lag,wind_speed_lag,visibility_in_miles_lag,temperature_lag,rain_p_h_lag,snow_p_h_lag,clouds_all_lag,weather_type_lag
count,14454.000000,14454.000000,14454.000000,14454.000000,14454.000000,14454.000000,14454.0,14454.000000,14454.000000,14453.000000,14453.000000,14453.000000,14453.000000,14453.000000,14453.0,14453.000000,14453.000000
mean,0.001245,1.887644,3.607306,5.005535,283.859084,0.066965,0.0,46.801785,2.164799,1.887636,3.607002,5.005466,283.859204,0.066969,0.0,46.798796,2.164948
std,0.035268,1.030213,2.212177,2.586276,12.769255,0.466853,0.0,39.232165,2.333109,1.030248,2.211952,2.586352,12.769689,0.466869,0.0,39.231876,2.333121
min,0.000000,0.000000,0.000000,1.000000,246.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,246.150000,0.000000,0.0,0.000000,0.000000
25%,0.000000,1.000000,2.000000,3.000000,273.720000,0.000000,0.0,1.000000,0.000000,1.000000,2.000000,3.000000,273.720000,0.000000,0.0,1.000000,0.000000
50%,0.000000,2.000000,3.000000,5.000000,287.725000,0.000000,0.0,40.000000,1.000000,2.000000,3.000000,5.000000,287.730000,0.000000,0.0,40.000000,1.000000
75%,0.000000,3.000000,5.000000,7.000000,293.860000,0.000000,0.0,90.000000,4.000000,3.000000,5.000000,7.000000,293.860000,0.000000,0.0,90.000000,4.000000
max,1.000000,3.000000,16.000000,9.000000,310.070000,10.600000,0.0,92.000000,10.000000,3.000000,16.000000,9.000000,310.070000,10.600000,0.0,92.000000,10.000000

In [87]:
test_df_2.columns

Index(['is_holiday', 'air_pollution_index', 'wind_speed',
       'visibility_in_miles', 'temperature', 'rain_p_h', 'snow_p_h',
       'clouds_all', 'weather_type', 'air_pollution_index_lag',
       'wind_speed_lag', 'visibility_in_miles_lag', 'temperature_lag',
       'rain_p_h_lag', 'snow_p_h_lag', 'clouds_all_lag', 'weather_type_lag'],
      dtype='object')

In [88]:
cols = ['air_pollution_index_lag', 'wind_speed_lag', 'visibility_in_miles_lag', 'temperature_lag', 'rain_p_h_lag', 
        'snow_p_h_lag']

for i in cols:
    test_df_2[i].iloc[0] = test_df_2.describe()[i].iloc[1]
    test_df_2[i].iloc[-1] = test_df_2.describe()[i].iloc[1]

E:\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [89]:
for i in ['clouds_all_lag', 'weather_type_lag']:
    test_df_2[i].iloc[0] = test_df_2.mode()[i].iloc[0]
    test_df_2[i].iloc[-1] = test_df_2.mode()[i].iloc[0]

E:\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [90]:
test_df_2.head()

,is_holiday,air_pollution_index,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,air_pollution_index_lag,wind_speed_lag,visibility_in_miles_lag,temperature_lag,rain_p_h_lag,snow_p_h_lag,clouds_all_lag,weather_type_lag
0,0,1,1,4,285.15,0.0,0,90,2,1.887636,3.607002,5.005466,283.859204,0.066969,0.0,90.0,1.0
1,0,3,1,4,285.15,0.0,0,90,4,1.000000,1.000000,4.000000,285.150000,0.000000,0.0,90.0,2.0
2,0,1,1,1,285.15,0.0,0,90,3,3.000000,1.000000,4.000000,285.150000,0.000000,0.0,90.0,4.0
3,0,1,1,2,284.79,0.0,0,90,2,1.000000,1.000000,1.000000,285.150000,0.000000,0.0,90.0,3.0
4,0,3,1,1,284.79,0.0,0,90,4,1.000000,1.000000,2.000000,284.790000,0.000000,0.0,90.0,2.0

In [91]:
test_df_2.tail()

,is_holiday,air_pollution_index,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,air_pollution_index_lag,wind_speed_lag,visibility_in_miles_lag,temperature_lag,rain_p_h_lag,snow_p_h_lag,clouds_all_lag,weather_type_lag
14449,0,2,4,4,283.45,0.0,0,75,0,2.000000,5.000000,4.000000,284.200000,0.250000,0.0,75.0,2.0
14450,0,3,8,6,282.76,0.0,0,90,0,2.000000,4.000000,4.000000,283.450000,0.000000,0.0,75.0,0.0
14451,0,2,4,1,282.73,0.0,0,90,7,3.000000,8.000000,6.000000,282.760000,0.000000,0.0,90.0,0.0
14452,0,0,8,7,282.09,0.0,0,90,0,2.000000,4.000000,1.000000,282.730000,0.000000,0.0,90.0,7.0
14453,0,2,8,6,282.12,0.0,0,90,0,1.887636,3.607002,5.005466,283.859204,0.066969,0.0,90.0,1.0

In [92]:
test_df_2.to_csv('./analysis/test_df_2.csv', index=False)

In [93]:
test_df_2 = pd.read_csv('./analysis/test_df_2.csv')

In [94]:
test_df_2.head()

,is_holiday,air_pollution_index,wind_speed,visibility_in_miles,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,air_pollution_index_lag,wind_speed_lag,visibility_in_miles_lag,temperature_lag,rain_p_h_lag,snow_p_h_lag,clouds_all_lag,weather_type_lag
0,0,1,1,4,285.15,0.0,0,90,2,1.887636,3.607002,5.005466,283.859204,0.066969,0.0,90.0,1.0
1,0,3,1,4,285.15,0.0,0,90,4,1.000000,1.000000,4.000000,285.150000,0.000000,0.0,90.0,2.0
2,0,1,1,1,285.15,0.0,0,90,3,3.000000,1.000000,4.000000,285.150000,0.000000,0.0,90.0,4.0
3,0,1,1,2,284.79,0.0,0,90,2,1.000000,1.000000,1.000000,285.150000,0.000000,0.0,90.0,3.0
4,0,3,1,1,284.79,0.0,0,90,4,1.000000,1.000000,2.000000,284.790000,0.000000,0.0,90.0,2.0

In [95]:
RF_reg.predict(test_df_2)

array([4519.26, 2892.13, 3472.33, ..., 2736.66, 2905.05, 2225.08])

In [104]:
preds_v1 = pd.DataFrame(RF_reg.predict(test_df_2), columns=['traffic_volume'])

In [106]:
test_df_dates.shape

(14454,)

In [108]:
preds_v1_df = pd.concat([test_df_dates, preds_v1], axis=1)

In [110]:
preds_v1_df.head()

             date_time  traffic_volume
0  2017-05-18 00:00:00         4559.46
1  2017-05-18 00:00:00         3193.70
2  2017-05-18 00:00:00         3378.83
3  2017-05-18 01:00:00         3168.54
4  2017-05-18 01:00:00         3391.71

In [111]:
preds_v1_df.to_csv('./predictions/preds_v1_df.csv', index=False)